[checkbox]
{{ hostvars['localhost']['checkbox_ec2_ipadd']}} ansible_user=root ansible_ssh_private_key_file=/root/privatekey ansible_ssh_common_args='-o StrictHostKeyChecking=no'
[canary]
{{ hostvars['localhost']['canary_ec2_ipadd']}} ansible_user=root ansible_ssh_private_key_file=/root/privatekey ansible_ssh_common_args='-o StrictHostKeyChecking=no'