---
- include_vars: secrets.yml

- name: Set Mongo IP
  lineinfile: 
    path: /etc/environment 
    state: present
    line: 'MONGO_IP={{jenkins_ec2_ip}}'

- name: Set App port
  lineinfile:     
    path: /etc/environment     
    state: present     
    line: 'MONGO_PORT=3002'

- name: Set Mongo User
  lineinfile:
    path: /etc/environment
    state: present
    line: 'MONGO_USER=admin'

- name: Set Mongo password
  lineinfile:
    path: /etc/environment
    state: present
    line: 'MONGO_PASSWORD={{mongo_pwd}}'

- name: Set SMTP Server
  lineinfile:
    path: /etc/environment
    state: present
    line: 'MAIL_SMTP=smtp.gmail.com'

- name: Set SMTP User 
  lineinfile:
    path: /etc/environment
    state: present
    line: 'MAIL_USER=onepluscarrental@gmail.com'

- name: Set SMTP password
  lineinfile:
    path: /etc/environment
    state: present
    line: 'MAIL_PASSWORD={{smtp_pwd}}'
   
